.icone-imagem{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    img.large{
        width: 10rem;
    }
    
    img.small{
        width: 5rem;
    }
}

// Altera o ion-card para ter uma cor diferente apenas em iOS
.ios ion-card{
    background-color: var(--ion-color-primary);
}

// Altera o ion-card para ter uma cor diferente apenas em iOS
.md ion-card{
    background-color: var(--ion-color-danger);
}